<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MdxUpdateService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://MDx:8081" binding="basicHttpBinding"
                bindingConfiguration="MdxUpdateService" contract="ServicePortType"
                name="MdxUpdateService" />
        </client>
    </system.serviceModel>
</configuration>